﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Server Hok";
}

@{
    var todaysMax = Model.GetMax(DateTime.Today, DateTime.Now).Result;
    Dashboard.Models.TemperatureData lastKnown = null;

    List<Dashboard.Models.TemperatureData> alltemps = Model.Temps.ToList();
    if (alltemps.Count > 0)
    {
        lastKnown = alltemps.Last();
    }
    else
    {
        lastKnown = new Dashboard.Models.TemperatureData();
    }

}


<div class="text-center">
    <h3>Last known temperature is @lastKnown.Measurement degrees</h3>
    <h5 class="text-muted">Measured at @lastKnown.Timestamp.ToLocalTime().ToLongTimeString()</h5>

</div>



<div class="text-center">
    <h5>
        Todays max temperature was @todaysMax.Measurement degrees, measurerd at @todaysMax.Timestamp.ToLocalTime().ToLongTimeString()
    </h5>
</div>



@functions{

    double GetLatestTemp()
    {
        List<Dashboard.Models.TemperatureData> alltemps = Model.Temps.ToList();
        if (alltemps.Count > 0)
        {
            Dashboard.Models.TemperatureData latest = alltemps.Last();

            DateTime time = latest.Timestamp.ToLocalTime();
            double measurement = latest.Measurement;

            ViewData["Time"] = time.ToLongTimeString();

            return measurement;
        }
        else return -1;


    }
}